#include "zen.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

/* zip_temp_layer ノード自体に遅延プロパティを追加 */
&zip_temp_layer {
    require-prior-idle-ms = <10000>;
};

&pointing_listener {
    /* 親の input-processors は snippet に任せる */

    speed {
        layers = <0 1 2 3 5 6>;
        input-processors = <&zip_xy_scaler 1 1>;
        process-next;
    };

    scroller {
        layers = <4>;
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_to_scroll_mapper>,
            <&scroll_scaler 5 1>;
        process-next;
    };
};

&zen_transform {
    col-offset = <7>;
};
